<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head><%= @highlighter_setup %>
   <link rel="stylesheet" href="css/style.css"  type="text/css" media="screen" charset="utf-8" />
   <link rel="stylesheet" href="css/common.css" type="text/css" media="screen" charset="utf-8" /></head>
<body>
<table>
<% @list.each do |l| %>
  <tr> 
    <td> <%= l[:src] %> 
    <td> 
      <% if l[:pod_html].nil? %> POD
      <% else %><a href='../<%= l[:pod_html] %>' target="_top"> POD </a> 
      <% end %> 
    <td> <a href='../<%= l[:src_html] %>' target="_top"> Source </a>
<% end %>
</table>
</html>
</body>
